echo knime-workspace/.metadata/ > .gitignore
echo knime-workspace/.settings/ >> .gitignore
echo knime-workspace/.recycle/ >> .gitignore
echo knime-workspace/.knime/ >> .gitignore
echo *.log >> .gitignore
echo *.tmp >> .gitignore
echo *.hyper >> .gitignore
echo Thumbs.db >> .gitignore
echo desktop.ini >> .gitignore
