<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="filechooser_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_WriterFileChooser"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="filechooser">
            <config key="file_system_chooser__Internals">
                <entry key="has_fs_port" type="xboolean" value="false"/>
                <entry key="overwritten_by_variable" type="xboolean" value="false"/>
                <entry key="convenience_fs_category" type="xstring" value="LOCAL"/>
                <entry key="relative_to" type="xstring" value="knime.workflow.data"/>
                <entry key="mountpoint" type="xstring" value="knime-temp-space"/>
                <entry key="spaceId" type="xstring" value=""/>
                <entry key="spaceName" type="xstring" value=""/>
                <entry key="custom_url_timeout" type="xint" value="10000"/>
                <entry key="connected_fs" type="xboolean" value="true"/>
            </config>
            <config key="path">
                <entry key="location_present" type="xboolean" value="true"/>
                <entry key="file_system_type" type="xstring" value="LOCAL"/>
                <entry key="path" type="xstring" value="E:\COURSES\KNIME - a crash course for beginners\course resources\Order Report"/>
            </config>
            <config key="filter_mode_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_FilterMode"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="create_missing_folders" type="xboolean" value="false"/>
            <entry key="if_path_exists" type="xstring" value="fail"/>
        </config>
        <config key="ReportAuthor_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="ReportAuthor" type="xstring" value="Dan"/>
        <config key="ReportTitel_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="ReportTitel" type="xstring" value="Order Report"/>
        <config key="NumberOfRows_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="NumberOfRows" type="xint" value="1000"/>
        <config key="ImageScaling_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="ImageScaling" type="xstring" value="VIEW_SCALING"/>
        <config key="SizeHandle_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="SizeHandle" type="xstring" value="DEFAULT_SIZE"/>
        <config key="ImageWidth_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="ImageWidth" type="xint" value="100"/>
        <config key="ImageHeight_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="ImageHeight" type="xint" value="100"/>
        <config key="DeleteDesignFile_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="DeleteDesignFile" type="xboolean" value="true"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.ext.birt.nodes.io.filehandling.pdf.PdfReport2NodeFactory"/>
    <entry key="node-name" type="xstring" value="Table to PDF (legacy)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME HTML/PDF Writer Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.ext.birt"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.5.0.v202412191417"/>
    <entry key="node-feature-name" type="xstring" value="KNIME HTML/PDF Writer (legacy)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ext.birt.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.5.0.v202412191417"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="File System Connection"/>
        <config key="Port Object"/>
    </config>
    <entry key="name" type="xstring" value="Table to PDF (legacy)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
